
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.macbook-pro-16-5-BkR {
  width: 100%;
  height: 111.7rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;

  .macbook-pro-16-3-jmw {
    display: flex;
    background-position: center;
    padding: 8.9rem 6.1rem 5rem 23.1rem;
    position: relative;
    flex-direction: column;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #ffffff;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-items: center;
    background-image: url('REPLACE_IMAGE:666a9a042126dfa586a5183543c076b06e937332');

    .about-myproject-r5s {
      font-weight: 700;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 98.4rem 9.6rem 0rem;
      font-size: 4rem;
    }
    .my-project-in-dpk-d-is-to-create-figma-coding-and-vs-code-about-myself-wd7 {
      color: #f900ff;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 0rem 22.9rem 69.3rem;
      max-width: 74.3rem;
      font-size: 4.8rem;
      font-weight: 700;
      line-height: 1.2125;
    }
    .i-have-learned-a-lot-about-coding-from-my-teacher-mrs-sutri-aniroh-2Pf {
      font-size: 4.8rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #f900ff;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 50.1rem 20.5rem 0rem;
      max-width: 68.5rem;
    }
    .auto-group-mnxf-i1b {
      margin-right: 19.7rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .home-G37 {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 23.6rem;
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2125;
      }
      .about-br5 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 23.4rem;
      }
      .project-9Mo {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #ff0000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 14.6rem;
      }
      .resume-VAm {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #ffffff;
      }
    }
  }
}
