
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.macbook-pro-16-1-KAd {
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:666a9a042126dfa586a5183543c076b06e937332');
  padding: 7.2rem 10.8rem 5rem 10.7rem;
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;

  .hello-guys-qoB {
    flex-shrink: 0;
    margin: 0rem 126.3rem 13.5rem 0rem;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .my-name-azka-mercusia-razaq-6UD {
    font-weight: 700;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0rem 6rem 77.7rem;
    font-size: 4.8rem;
  }
  .i-live-in-wadaslintang-wonosobo-nrq {
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 70.4rem 6.6rem 0rem;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #f900ff;
    font-family: Inter, 'Source Sans Pro';
  }
  .im-from-xpplg-3-class-stH {
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0rem 1.8rem 97.7rem;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #ffffff;
  }
  .i-board-at-wisma-lensa-zT7 {
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 92.9rem 38.2rem 0rem;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #f900ff;
  }
  .auto-group-96vs-hMX {
    flex-shrink: 0;
    margin: 0rem 15rem 0rem 12.4rem;
    width: calc(100% - 27.4rem);
    display: flex;
    align-items: center;

    .home-xRs {
      margin-right: 23.6rem;
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #ff0000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .about-TtR {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 23.4rem;
    }
    .project-Cr1 {
      font-weight: 700;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 14.6rem;
      font-size: 4rem;
    }
    .resume-kMj {
      font-weight: 700;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 4rem;
    }
  }
}
