
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.macbook-pro-16-6-V17 {
  background-color: #ffffff;
  width: 100%;
  height: 111.7rem;
  overflow: hidden;
  position: relative;

  .macbook-pro-16-4-RvM {
    box-sizing: border-box;
    height: 100%;
    background-size: 100% 100%;
    background-color: #ffffff;
    padding: 8.9rem 25.8rem 5rem 23.1rem;
    align-items: center;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:666a9a042126dfa586a5183543c076b06e937332');
    position: relative;
    display: flex;
    flex-direction: column;

    .about-resume-YEH {
      flex-shrink: 0;
      margin: 0rem 82.9rem 4.8rem 0rem;
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .auto-group-fgw1-eHK {
      margin: 0rem 32.3rem 8.7rem 3rem;
      width: calc(100% - 35.3rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .my-photo-1-msj {
        height: 74.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 28.8rem;
        width: 35rem;
      }
      .thank-you-Jcm {
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #f900ff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 12.8rem;
      }
    }
    .auto-group-jc8m-EmK {
      width: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .home-bbs {
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 23.6rem;
        font-size: 4rem;
        font-weight: 700;
      }
      .about-ve9 {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 23.4rem;
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .project-Gi1 {
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 14.6rem;
        font-size: 4rem;
        font-weight: 700;
      }
      .resume-pUd {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #ff0000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
}
